/* -----------------------------------------------------------------
    - Other
----------------------------------------------------------------- */

// Bact to top
.back-to-top {
  cursor: pointer;
  opacity: 1;
  @include position(fixed, $right: rem(40px), $bottom: rem(30px));
  background: transparent;
  transition: background 0.2s ease-out;
  z-index: 10;
  border-radius: 100%;
  padding: rem(3.2px);

  &:hover {
    opacity: 1;
    background: $black-color;
  }

  i{
    font-size: rem(32px);
  }

  @media only screen and (max-width: $medium) {
    height: rem(24px);
    width: rem(24px);
  }

  @media only screen and (max-width: $small) {
    display: none !important;
  }
}

.js-lines {
  overflow: hidden;

  div {
    overflow: hidden;
  }
}

.js-words div div {
  opacity: 0;
}

// Medium Zoom
.medium-zoom-overlay {
  background: $white-color !important;
  z-index: 1104;
}
.medium-zoom-image {
  cursor: pointer !important;
  z-index: 1104;

  &--opened {
    border-radius: rem(1px);
    height: 100%;
  }
}
